{% load staticfiles %}
<footer>
  <div class="icons">
    <a target="_blank" class = "coloured" href="https://www.facebook.com/designstudio.iitr"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a target="_blank" class = "coloured" href="https://www.behance.net/designstudioiitr"><i class="fa fa-behance" aria-hidden="true"></i></a>
    <a target="_blank" class = "coloured" href="https://www.instagram.com/ds_iitr/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  <div>
    <svg class="footer-circle">
      <svg>
        <defs>
          <linearGradient id="footer-grad" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" id="start" style="stop-color:#ffd87c;stop-opacity:1"></stop>
            <stop offset="100%" id="stop" style="stop-color:#feac42;stop-opacity:1"></stop>
          </linearGradient>
        </defs>
      </svg>
      <circle class="" cx="5.1875em" cy="5.1875em" r="5.1875em" fill="url(#footer-grad)"></circle>
    </svg>
  </div>
</footer>
